@charset "UTF-8";
/*CSS Doc*/

body
{
	background-image: url(../images/space.jpeg);
	height: 1200px;
	background-repeat: no-repeat;
	background-size: cover;
}


.hidden
{
	display: none;
}

#dropZone
{
	width: 15%;
	margin-bottom: 80px;
	margin-left: 800px;
	margin-top: 80px;
}

#musicGuitar
{
	display: flex;
	flex-direction: row;
}


#musicGuitar img
{
	height: 200px;
	width: 300px;
	-webkit-animation: rotation 2s infinite linear;
}

#musicDrum
{
	display: flex;
	flex-direction: row;
}
#musicDrum
{
	margin-left: 1000px;
}

#musicDrum img
{
	height: 200px;
	width: 300px;
	-webkit-animation: rotation 2s infinite linear;
}

#musicBass
{
	display: flex;
	flex-direction: row;
}
#musicBass
{
	margin-top: 50px;
	margin-bottom: 50px;
}

#musicBass img
{
	height: 200px;
	width: 300px;
	-webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

#resetButton
{
	background-color: #666;
	width: 200px;
	display: block;
	margin-top: 55px;
	margin-left: 850px;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #fff;
	text-align: center;
	font-size: 18px;
	transition: all .3s ease;
}

#resetButton:hover
{
	background-color: red;
	border-radius: 20px;
}